<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>EECS498</title>

    <!--Define meta element-->
  	<meta charset="UTF-8">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}

table#t02 {
  width: 100%;
  background-color: #1B2421;
}

</style>

</head>
<body>
<header id = "header"r>
  <div class="center">
	<h1>AMajorFlip</h1>
  </div>
</header>	

<div>
<br><br><br><br>
   {% block content %}{% endblock %}
</div>

<footer id="footer">
<div class="center">
  <div class="position: relative; bottom: 0;">
  <br><br><br><br>
  <p>University of Michigan</p>
  <p>EECS 498-010 - F17</p>
  <p>Created by </p>
  </div>
</div>
</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
</body>

</html>