<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="/static/css/style.css" />-->
    <title>A Major Flip</title>

    <!--Define meta element-->
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/full-slider.css" rel="stylesheet">
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

</head>

<body>

  <!-- Nav Bar --> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">A Major Flip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('gallery.gallery_route') }}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('upload.upload_route') }}">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about.about_route') }}">About</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  
  <!-- Page content --> 
  <div class="block_content">
  <br><br><br><br>
     {% block content %}{% endblock %}
  </div>

  <!-- Footer -->
<div class="custom_footer">Copyright &copy; <strong>A Major Flip</strong> 2017</div>
</body>

</html>
