{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function(){ 
    var prevpage=$("#prev").attr("href"); 
    var nextpage=$("#next").attr("href"); 
    $("body").keydown(function(event){ 
      if(event.keyCode==37 && prevpage!=undefined) location=prevpage; 
      if(event.keyCode==39 && nextpage!=undefined) location=nextpage; 
    }); 
 });
</script>

{% for i in pictures %}
	{% if i['image_id'] == picid %}
		<form action="" method="post" enctype="multipart/form-data">
			<input name="op" type="hidden" value="display_image"></input>
			<input name="label" type="hidden" value={{ i['label'] }}></input>
			<input name="image_id" type="hidden" value={{ i['image_id'] }}></input>
			<img src="data:;base64,{{ i['data'] }}" style="max-width:100%;max-height:100%" max-height="900" align = "middle"></img>
			{{ i['label'] }}
		</form>
	{% endif %}
{% endfor %}
<form action="" method="post" enctype="multipart/form-data">
	<input name="op" type="hidden" value="open_image"></input>
	<input type="hidden" value="Open"><a href="{{ url_for('script.script_route') }}">Go Back</a></input>
</form>
{% if before %}
<a href="{{ url_for('display.display_route', picid = before) }}" id="prev">Previous</a>
{% endif %}
{% if next %}
<a href="{{ url_for('display.display_route', picid = next) }}" id="next">Next</a>
{% endif %}

{% endblock %}
