{% extends "base.html" %}
{% block content %}
<div style="margin: 10px 80px; height: 100%;">

	<div class="inside_container">
      <br><br>
      <br><br>
      <h2 class="text-center text-lg-left">Welcome to A Major Flip!</h2> 
      <br><br>
      <div>
        We're here help you consolidate, organize, and view your sheet music.
      </div>
      <div>To get started, you can:
      </div>
      <br>
      	<div class="main_upload_link">1.
    	 <a href="{{ url_for('upload.upload_route') }}">Upload Sheet Music</a>
     	</div>
      <div class="main_upload_link">2.  
       <a href="{{ url_for('gallery.gallery_route') }}">View All Uploaded Music</a>
      </div>
     	<br><br><br>
    </div>
</div>
{% endblock %}