{% extends "base.html" %}
{% block content %}
	<form action="" method="post" enctype="multipart/form-data">
		<div style= "margin: 10px;">
			<input name="op" type="hidden" value="add_image"></input>
			<input id="file_input" type="file" name="file" size="60">
			<br>
			<p>Upload your sheetmusic!</p>
			<label>Sheetmusic: </label>
		</div>
		<input name="label1" class="form-control" placeholder="Ninth Symphony" style= "margin: 10px;">
		<div style= "margin: 10px;">
			<label>Page: </label>
		</div>
		<input name="label2" class="form-control" placeholder="1" style= "margin: 10px;">
		<br>
		<input id="file_submit" type="submit" value="Add" style= "margin: 10px;">
		<br>
	</form>

	
{% for s in sheetmusics %}
	{% for i in pictures %}
		{% if i['sheetmusic']==s['name'] %}
			<form action="" method="post" enctype="multipart/form-data">
				<input name="op" type="hidden" value="delete_image"></input>
				<input name="label" type="hidden" value={{ i['label'] }}></input>
				<input name="image_id" type="hidden" value={{ i['image_id'] }}></input>
				<img src="data:;base64,{{ i['data'] }}" style="max-width:none; margin: 10px;" height="90"></img>
				{{ i['label'] }}
				<input type="submit" value="Delete">
			</form>
			<form action="" method="post" enctype="multipart/form-data">
				<input name="op" type="hidden" value="open_image"></input>
				<input style="margin: 10px;" type="hidden" value="Open"><a href="{{ url_for('display.display_route', picid = i['image_id']) }}">Open</a></input>
			</form>
		{% endif %}
	{% endfor %}
{% endfor %}

<!--
{% for i in pictures %}
	<form action="" method="post" enctype="multipart/form-data">
		<input name="op" type="hidden" value="delete_image"></input>
		<input name="label" type="hidden" value={{ i['label'] }}></input>
		<input name="image_id" type="hidden" value={{ i['image_id'] }}></input>
		<img src="data:;base64,{{ i['data'] }}" style="max-width:none; margin: 10px;" height="90"></img>
		{{ i['label'] }}
		<input type="submit" value="Delete">
	</form>
	<form action="" method="post" enctype="multipart/form-data">
		<input name="op" type="hidden" value="open_image"></input>
		<input style="margin: 10px;" type="hidden" value="Open"><a href="{{ url_for('display.display_route', picid = i['image_id']) }}">Open</a></input>
	</form>
	
{% endfor %}
-->
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Gallery</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; AMajorFlip 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}



