{% extends 'base.html' %}
    <!-- Nav Bar --> 
{% block content %}
<br><br>
    <link href="/static/css/full-slider.css" rel="stylesheet">

    <!-- Page Content --> 
    <script type="text/javascript">
        function loading(){
            console.log("haha")
            $("#content").append("<div class=\"loader\"></div>")        
        }
    </script>


    <div id = "content" align="center">

    <div class="log-form">
        <h2 style="margin: 10px">Upload your music</h2>
        <form action="" method="post" enctype="multipart/form-data">
        <div style="text-align: center" align="center">
            <input name="op" type="hidden" value="add_image"></input>
            <input style="margin:15px 0px 0px 120px;" id="file_input" type="file" name="file" size="60">
            <br>
            <div style="margin: 10px; text-align: center">
                <div style="text-align: right; width: 50%; float:left">
                    <label style="margin:10px">Sheet Music Label: </label>
                </div>
                <div style="float:left; width: 50%;">
                    <input style="margin: 0px; width: 75%" name="label1" class="form-control" placeholder="Ninth Symphony" />
                </div>
            </div>
            <div style="float: left; text-align: center;">
                <input align="center" style="margin: 20px 10px 10px -25px" id="file_submit" type="submit" value="Add" onclick="loading()" />
            </div>
            <br>
        </div>  
        </form>
    </div>

    </div>
{% endblock %}

